.mapFooter {
    /* border:1px solid black; */
    display:flex;
    background-color: rgb(65, 212, 223);
    height: 16.5vh;
    font-size: 1.3em;
    padding-top: 30px;
    justify-content: space-evenly;
    /* grid-template-columns:1fr 1fr 1fr 1fr; */
}